html{
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    min-height: 100%;
    margin: 0px;
}

#root{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#root2{
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#root>div>nav{
    font-size: 28px;
    color:red;
    font-weight: bold;
    background: linear-gradient(to right, #000000 60%, #cc0000 100%);
}

#container{
    width: 100%;
    min-height: calc(100vh - 38px);
    display: flex;
    align-items: stretch;
}

#sidebar{
    align-items: stretch;
    bottom: 0px;
    width: 24%;
    display: flex;
    justify-content: flex-end;
}

#sidebar>div{
    width: 50%;
    height: 100%;
    border-right: white solid 1px;
}

.sidebar-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    color: white;
    cursor: pointer;
}

#sidebar-tab-home{
    border-bottom: white solid 1px;
}

.sidebar-show{
    color:red;
}


#content{
    width: 76%;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

#footer{
    margin-top: 48px;
    display: flex;
    position: absolute;
    bottom: 0px;
    flex-direction: column;
    align-items: flex-end;
    width: 96%;
    color:white;
    background-color: brown;
    font-style: italic;
}

#display-wrapper{
    width: 100%;
    display: flex;
}

.display{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.hide{
    display: none;
}


.display>div{
    width: 80%;
    margin-top: 24px;
    margin-bottom: 48;
}

.display>span{
    margin-top: 32px;
}

.display>div>div{
    display: none;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    transition: ease-in-out 0.5s;
    position: relative;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  

.display>div>div>img{
    width: 100%;
    height: auto;
}

.home-list-item-title{
    position: absolute;
    bottom: 0px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#display-search{
    
}

#display-input{
    margin-top: 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom, #cc0000 -4%, #000000 30%);
}

#search-error{
    display: none;
}

#search-box{
    width: 80%;
}

#kinput{
    width: 100%;
    border-radius: 3px;
}

th{
    padding-bottom: 12px;
    padding-top: 12px;
}

#category{
    float: left;
}

#btn-wrapper{
    display: flex;
    justify-content: space-evenly;
}

#search-btn, #clear-btn{
    background-color: black;
    color:white;
    border-color: black;
}

#search-list-wrapper{
    width: 96%;
    display: none;
}

#search-list-wrapper>div{
    display: block;
}

.search-list-item{
    display: flex !important;
    justify-content: space-between;
    margin-top: 16px;
    flex-direction: row;
}

.search-list-item>img{
    width: 128px !important;
    height: auto !important;
    border-left: red solid 6px;
}

.search-list-item-textbox{
    display: flex;
    flex-direction: column;
    width: calc(100% - 160px);
    padding-top: 16px;
    padding-bottom: 16px;
    overflow: hidden;
}

.search-list-item-text-title{
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    max-height: 29px;
}

.search-list-item-types{
    font-size: 10px;
    margin-top: 12px;
    overflow: hidden;
    max-height: 28px;
}

#search-list-item-description{
    max-height: 48px;
    overflow: hidden;
}

#show-more-btn{
    background-color: red;
    margin-top: 12px;
    color: white;
    width: 84px;
    height: 24px;
    border-radius: 5px;
}

#modal-wrapper{
    position: fixed;
    top:0px;
    height: 100% !important;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    flex-direction: row;
    justify-content: center;
    overflow: scroll;
}

#modal-container{
    width: 80%;
    background-color: rgb(189, 186, 186);
    margin-top: 64px;
    padding:32px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: inherit;
    height: max-content;
}

.close {
    color: rgb(107, 106, 106);
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right:18px;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-detail-image{
    width: 90%;
    height: auto;
}

.modal-item-box{
    width: 90%;
    text-align: left;
    color:black;
    margin-top: 24px;
}

.modal-detail-title{
    font-size: 24px;
    margin-top: 24px;
}

.modal-detail-title>span{
    color:red;
    margin-left: 18px;
    cursor: pointer;
}

.modal-detail-types{
    font-size: 14px;
    margin-top: 12px;
}

.modal-detail-ratings-box{
    margin-top: 12px;
    font-size: 12px;
}

.modal-detail-ratings{
    color: red;
    margin-right: 6px;
}

.modal-detail-description{
    margin-top: 24px;
}

.modal-detail-language{
    font-style: italic;
    margin-top: 12px;
}

.modal-credit-title{
    margin-top: 32px;
    font-size: 24px;
    font-weight: bold;
}

.modal-cast-container{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.modal-cast-box{
    width: calc(25% - 12px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: cen;
    text-align: center;
}
.modal-cast-image{
    width: 100%;
    height: auto;
}

.modal-cast-name{
    font-weight: bold;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.modal-cast-character{
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.modal-review-wrapper{
    margin-top: 24px;
}

.modal-review-title{
    margin-bottom: 16px;
}

.modal-review-poster{
    font-weight: bold;
    margin-right: 8px;
}

.modal-review-votes{
    color: red;
}

.modal-review-content{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 56.25px;
}

.modal-review-line{
    width: 80%;
    border-bottom: gray solid 1px;
    margin-top: 8px;
    margin-left: 10%;   
}