html{
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    min-height: 100%;
    margin: 0px;
}

#root{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#root>div{
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#root>div>nav{
    font-size: 28px;
    color:red;
    font-weight: bold;
    background: linear-gradient(to right, #000000 60%, #cc0000 100%);
}

#container{
    width: 100%;
    min-height: calc(100vh - 38px);
    display: flex;
    align-items: stretch;
}

#sidebar{
    align-items: stretch;
    bottom: 0px;
    width: 24%;
    display: flex;
    justify-content: flex-end;
}

#sidebar>div{
    width: 50%;
    height: 100%;
    border-right: white solid 1px;
}

.sidebar-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    color: white;
    cursor: pointer;
}

#sidebar-tab-home{
    border-bottom: white solid 1px;
}

.sidebar-show{
    color:red;
}


#content{
    width: 76%;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

#footer{
    margin-top: 48px;
    display: flex;
    position: absolute;
    bottom: 0px;
    flex-direction: column;
    align-items: flex-end;
    width: 96%;
    color:white;
    background-color: brown;
    font-style: italic;
}

#display-wrapper{
    width: 100%;
    display: flex;
}

.display{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.hide{
    display: none;
}


.display>div{
    width: 80%;
    margin-top: 24px;
    margin-bottom: 48;
}

.display>span{
    margin-top: 32px;
}

.display>div>div{
    display: none;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    transition: ease-in-out 0.5s;
    position: relative;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  

.display>div>div>img{
    width: 100%;
    height: auto;
}

.home-list-item-title{
    position: absolute;
    bottom: 0px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#display-search{
    
}

#display-input{
    margin-top: 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom, #cc0000 -4%, #000000 30%);
}

#search-error{
    display: none;
}

#search-box{
    width: 80%;
}

#kinput{
    width: 100%;
    border-radius: 3px;
}

th{
    padding-bottom: 12px;
    padding-top: 12px;
}

#category{
    float: left;
}

#btn-wrapper{
    display: flex;
    justify-content: space-evenly;
}

#search-btn, #clear-btn{
    background-color: black;
    color:white;
    border-color: black;
}

#search-list-wrapper{
    width: 96%;
    display: none;
}

#search-list-wrapper>div{
    display: block;
}

.search-list-item{
    display: flex !important;
    justify-content: space-between;
    margin-top: 16px;
    flex-direction: row;
}

.search-list-item>img{
    width: 128px !important;
    height: auto !important;
    border-left: red solid 6px;
}

.search-list-item-textbox{
    display: flex;
    flex-direction: column;
    background-color: thistle;
    width: calc(100% - 160px);
    padding-top: 16px;
    padding-bottom: 16px;
}

.search-list-item-text-title{
    font-size: 18px;
}